/* refer to https://github.com/spoqa/spoqa.github.com/blob/master/css/syntax.css */ 

/* Base */
.highlight  { background: $oc-black; } 

/* B */
.highlight .bp { color: #32cd32 } /* Name.Builtin.Pseudo */

/* C */
.highlight .c { color: #bdc3c7; font-style: italic } /* Comment */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */

/* E */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */

/* G */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */

/* I */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* K */
.highlight .k { color: #fd9800; font-weight: bold } /* Keyword */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .kn { color: #fd9800; font-wiehgt: bold } /* Keyword.Name */ 

/* M */
.highlight .m { color: #1e90ff } /* Literal.Number */
.highlight .mf { color: #1e90ff } /* Literal.Number.Float */
.highlight .mh { color: #1e90ff } /* Literal.Number.Hex */
.highlight .mi { color: #1e90ff } /* Literal.Number.Integer */
.highlight .mo { color: #1e90ff } /* Literal.Number.Oct */

/* N */
.highlight .n { color: $oc-white }
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: $oc-white } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */

/* O */
.highlight .o { font-weight: bold; color: $oc-white } /* Operator #adff2f*/
.highlight .ow { font-weight: bold; color: $oc-white } /* Operator.Word #adff2f*/

/* P */
.highlight .p { color: $oc-white; } 

/* S */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */

/* V */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */

/* W */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */

/* Output */
.output { background: $oc-gray-1; }
